{% extends 'base.html.twig' %}

{% block title %}All Tasks{% endblock %}

{% block body %}
      <h4> time the page was loaded: {{today | date('Y:m:d H:i:s')}} </h4>
      <button class="content_toggle btn-block" href="#">Add task</button>
        <div class="content_block" style="display: none;">
            
            {{ render(path('task_new')) }}
            
            <div class="danger" id="errorForm">
                
            </div>
        </div>
    <hr>
    <p>
        <ol id="todo_list">
        </ol>
    </p>

     <br><hr><hr><hr>
    <h1>{{ title }}</h1>
    <hr>

    <div id="response">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Task</th>
                    <th>DueDate</th>
                    <th>Completed</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                {# {% if task.dueDate | date() == today | date() %} #}
                <tr id="results_list">
                        <td>{{ task.id }}</td>
                        <td>{{ task.task }}</td>
                        <td>{{ task.dueDate | date('d/m/Y')}}</td>
                        <td>{{ task.completed ? '<input type="checkbox" checked></input>' : '<input type="checkbox"></input>'}}</td>
                        <td>
                            {# <a href="{{ path('task_show', {'id': task.id}) }}">show</a> #}
                            
                            <a class="btn btn-warning" href="{{ path('task_edit', {'id': task.id}) }}">edit &#9997;</a>
                            
                            {# <a class="btn btn-danger" href="{{ path('task_delete', {'id': task.id}) }}">delete &#10060;</a> #}
                        </td>
                </tr>
                {# {% endif %} #}
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {# <a class="btn btn-primary btn-block" href="{{ path('task_new') }}">Create new</a> #}
    </div>
    
{% endblock %}

{% block panel %}

    <div class="panel panel-info hidden-xs">
                            <div class="panel-heading"><div class="sidebar-header"><h3>Search</h3></div></div>
                            <div class="panel-body">
                                <form id="form" action="{{ path('task_search') }}">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="date" type="text" id="search_field" class="datepicker form-control input-lg" placeholder="">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search submitSearch"></i></button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                 {# <br><div id="successForm"> #}
                                    {# {% for task in tasks %}
                                    <br><div id="successForm">
                                 {{task.dueDate | date()}}
                                 </div>
                                 {% endfor %} #}
                                 {# </div> #}
                            </div>
                        </div>

    <div class="panel panel-info">
                            <div class="panel-heading"><div class="sidebar-header"><h3>Expired</h3></div></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-warning">
                                    {% for task in tasks %}
                                        <p><b><a href="#">{{task.task}}</a></b></p>
                                        <p>
                                            <a href="#">{{task.dueDate | date()}}</a>
                                        </p>                                       
                                                <a class="btn btn-warning btn-block" href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                                                {# <a class="btn btn-danger" href="{{ path('task_delete', {'id': task.id}) }}">delete &#10060;</a> #}
                                        </p> 
                                    {% else %}
                                       <p><b colspan="6">no records found</b></p>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
{% endblock %}
