{% extends 'base.html.twig' %}

{% block title %}to_do_list{% endblock %}

{% block body %}
<div id="content">
    <h1> tasks for today </h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Task</th>
                <th>DueDate</th>
                <th>Completed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks_today %}
            <tr id="results_list">
                <form id="form">
                    {# <td>{{ task.id }}</td> #}
                    <td><input id="task" type="text" id="search" class="form-control input-lg" value="{{ task.task }}"></td>
                    <td><input id="due_date" type="text" id="search" class="form-control input-lg datepicker" value="{{ task.dueDate | date('m/d/Y')}}"></td>
                    <td><span id="completed" >{{ task.completed ? '<input type="checkbox" checked></input>' : '<input type="checkbox"></input>'}}</span></td>
                    <td>
                        {# <a href="{{ path('task_show', {'id': task.id}) }}">show</a> #}
                        
                        <span>
                        <a id="updateForm" class="btn btn-primary" href="{{ path('task_edit', {'id': task.id}) }}">Update &#9997;</a>
                        
                        <a class="btn btn-danger" href="{{ path('task_delete', {'id': task.id}) }}"> &#10060;</a>
                        </span>
                    </td>
                </form>
            </tr>
            {# {% endif %} #}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


 </div>

    <div class="col-lg-3 col-lg-pull-9">
        <div class="panel panel-info hidden-xs">
            <div class="panel-heading"><div class="sidebar-header"><h3>Search</h3></div></div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input name="date" type="text" class="datepicker form-control input-lg" placeholder="search by date">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search submitSearch"></i></button>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="load"></div>

     <div class="panel panel-danger">
                            <div class="panel-heading"><div class="sidebar-header"><h3>Expired</h3></div></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-warning">
                                    {% for task in expired %}
                                        <p><b><a href="#">{{task.task}}</a></b></p>
                                        <p>
                                            <a href="#">{{task.dueDate | date()}}</a>
                                        </p>                                       
                                                {# <a class="btn btn-warning btn-block" href="{{ path('task_edit', {'id': task.id}) }}">edit</a> #}
                                        </p> 
                                        <hr>
                                    {% else %}
                                       <p><b colspan="6">no records found</b></p>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                            
                        </div>

                    </div>


{% endblock %}
