{# {% extends 'base.html.twig' %} #}

{% block body %}
<form id="form" action="{{ path('task_new') }}">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            
                {{ form_row(form.task) }}
            
                {{ form_row(form.dueDate) }}
            
                {{ form_row(form.completed) }}
        </div>
    {{ form_end(form) }}
        <button class="btn btn-success submitForm">{{ button_label|default('Add Task') }} &#9998;</button>
    {{ form_end(form) }}
</form>
{% endblock %}