{% extends 'base.html.twig' %}

{% block title %}to_do_list{% endblock %}

{% block body %}
<div id="content">
    <h1> expired tasks </h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Task</th>
                <th>DueDate</th>
                <th>Completed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in expired %}
            <tr id="results_list">
            <form id="form" action="{{ path('task_edit', {'id': task.id}) }}">
                    {# <td>{{ task.id }}</td> #}
                    <td><input type="text" id="search" class="form-control input-lg" value="{{ task.task }}"></td>
                    <td><input type="text" id="search" class="form-control input-lg datepicker" value="{{ task.dueDate | date('m/d/Y')}}"></td>
                    <td>{{ task.completed ? '<input type="checkbox" checked></input>' : '<input type="checkbox"></input>'}}</td>
                    <td>
                        {# <a href="{{ path('task_show', {'id': task.id}) }}">show</a> #}
                        
                        <span>
                        <a class="btn btn-primary submitForm" href="{{ path('task_edit', {'id': task.id}) }}">Update &#9997;</a>
                        
                        <a class="btn btn-danger submitForm" href="{{ path('task_delete', {'id': task.id}) }}"> &#10060;</a>
                        </span>
                    </td>
            </tr>
            {# {% endif %} #}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block panel %}
     <div class="panel panel-info">
                            <div class="panel-heading"><div class="sidebar-header"><h3>Expired</h3></div></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-warning">
                                    {% for task in tasks %}
                                        <p><b><a href="#">{{task.task}}</a></b></p>
                                        <p>
                                            <a href="#">{{task.dueDate | date()}}</a>
                                        </p>                                       
                                                <a class="btn btn-warning btn-block" href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                                        </p> 
                                    {% else %}
                                       <p><b colspan="6">no records found</b></p>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                            
                        </div>

                    </div>
{% endblock %}
