{% extends 'base.html.twig' %}

{% block title %}Uncompleted{% endblock %}

{% block body %}
<div id="content">
    <h1> uncompleted tasks</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Task</th>
                <th>DueDate</th>
                <th>Completed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in uncompleted %}
            <tr id="results_list">
            <form id="form" action="{{ path('task_edit', {'id': task.id}) }}">
                    {# <td>{{ task.id }}</td> #}
                    <td><input type="text" id="search" class="form-control input-lg" value="{{ task.task }}"></td>
                    <td><input type="text" id="search" class="form-control input-lg datepicker" value="{{ task.dueDate | date('m/d/Y')}}"></td>
                    <td>{{ task.completed ? '<input type="checkbox" checked></input>' : '<input type="checkbox"></input>'}}</td>
                    <td>
                        {# <a href="{{ path('task_show', {'id': task.id}) }}">show</a> #}
                        
                        <span>
                        <a class="btn btn-primary submitForm" href="{{ path('task_edit', {'id': task.id}) }}">Update &#9997;</a>
                        
                        <a class="btn btn-danger submitForm" href="{{ path('task_delete', {'id': task.id}) }}"> &#10060;</a>
                        </span>
                    </td>
            </tr>
            {# {% endif %} #}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
