<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <!-- jQueryUI -->
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
            <script src="//code.jquery.com/jquery-1.12.4.js"></script>
            <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        {% endblock %}

    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand active" href="{{path('home')}}">TODO List</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {# <li><a href="#">SOME</a></li> #}
                            {# <li><a href="#">SOME</a></li> #}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <span class="caret"></span></a>
                            <ul id="nav" class="dropdown-menu" role="menu">
                                <li><a href="{{path('task_all')}}">ALL</a></li>
                                <li class="divider"></li>
                                <li><a href="{{path('task_completed')}}">COMPLETED</a></li>
                                <li class="divider"></li>
                                <li><a href="{{path('task_uncompleted')}}">UNCOMBLETED</a></li>
                                <li class="divider"></li>
                                <li><a href="{{path('task_expired')}}">EXPIRED</a></li>
                                <li class="divider"></li>
                                <li><a href="{{path('home')}}">TODAY</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-push-3">
        {# <h4> time the page was loaded: {{today | date('Y-m-d H:i:s')}} </h4> #}
                <button class="content_toggle btn-block" href="#">Add task</button>
                        <div class="content_block" style="display: none;">
                            
                            {{ render(path('task_new')) }}
                            
                            <div class="danger" id="errorForm">
                                
                            </div>
                        </div>
                    <hr>

    {% block body %}

    {% endblock %}
                   

    
            </div>
        </div>
    </div>

                    <!-- THIS BLOCK SCRIPT MUST BE MOVE TO APP.JS!!!-->         
<script>
                    
//$(document).ready(function() {

    $(".datepicker").datepicker();

    contentToggle();

    let hash = window.location.hash.substr(1);
    let href = $('#nav li a').each(function(){
        let href = $(this).attr('href');
        if(hash==href.substr(0,href.length-5)){
            let toLoad = hash+'.html #content';
            $('#content').load(toLoad)
        } 
    });

    $('#nav li a').click(function(){ 
        let toLoad = $(this).attr('href')+' #content';
        $('#content').hide('slow',loadContent);
        function loadContent() {
            $('#content').load(toLoad,'',showNewContent)
        }
        function showNewContent() {
            $('#content').show('normal',hideLoader);
        }
        function hideLoader() {
            $('#load').fadeOut('normal');
        }
        return false;

    });

    $('.submitForm').click(function(e) {
        e.preventDefault();

        $('.submitForm').trigger('reset');
        submitFormAjax($(this).parent('form'), redirect, errorMessage);
        console.log('submited');
    });

    $('.updateForm').on('keyup', function(e) {
        e.preventDefault();

        $('.updsateForm').trigger('reset');
        updateFormAjax($(this).parent('form'), redirect, errorMessage);
        console.log('submited');
    });

     $(".submitSearch").on('keyup', function(e) {
            e.preventDefault();

            $('.submitSearch').trigger('reset');
            searchTaskAjax($(this).parent('form'), redirect, errorMessage);            
        }); 


    function contentToggle() {
        $('.content_toggle').click(function(){
        $('.content_block').slideToggle(300, function(){
            if ($(this).is(':hidden')) {
                $('.content_toggle').html('Add task');
            } else {
                $('.content_toggle').html('Hide form');
            }							
        });
        return false;
        });
    }

    function redirect(response) {
        if(response.url !== undefined) {
            window.location.href = response.url;
        }
    }

    function errorMessage() {
        alert('Somethig is wrong...');
        //$('#errorForm').append('<p class="alert alert-danger" id="errorForm" role="alert">Somethig is wrong...</p>');
    }

    function submitFormAjax(form, successCallback, errorCallback){
        if(form[0] === undefined) {
            return;
        } 
        if($(form)) {
                $.ajax({
                method: "POST",
                url:$(form).attr('action'),
                data: $(form).serialize(),
                cache: false,
                dataType: 'json',
                ajax: true,
                beforeSend: function() {
                    $('.submitForm').button('loading');
                },
                complete: function() {
                    $('.submitForm').button('reset');
                },
                success: successCallback,    
                error: errorCallback,
            
            });
        }
    }           

        function searchTaskAjax(form, successCallback, errorCallback){
                let searchTask = $(form).serialize();
                if(searchTask) {
                    $.ajax({
                        type: "GET",
                        url: "{{ path('task_search') }}",
                        data: {
                            'date': searchTask,
                        },
                        dataType: 'json',
                        cache: false,
                        success: function(response){
                          //  $('#content').replaceWith(response)// .....
                            
                            let obj = jQuery.parseJSON(response);
                            let json = $.parseJSON(response);
                            $(json).each(function(i,val){
                                    $.each(val,function(k,v) {
                                    console.log(k+" : "+ v);    
                                    });
                                });    
                        },
                        error: function() {
                            alert('EEERROR');
                        }
                    });
                }
                return false;
        }    

        function updateFormAjax(form, successCallback, errorCallback){
            let controller = $('.updateForm').attr('href');
            let id =  $('#id');
            let task = $('#task');
            let dueDate = $('#due_date');
            let completed = $('#completed');

                $.ajax({
                method: "POST",
                url: controller,
                data: {
                    'id': id,
                    'task': task,
                    'dueDate': dueDate,
                    'completed': completed
                },
                cache: false,
                dataType: 'json',
                ajax: true,
                beforeSend: function() {
                    $('.updateForm').button('loading');
                },
                complete: function() {
                    $('.updateForm').button('reset');
                },
                success: successCallback,    
                error: errorCallback,
            
            });
        }

        
//});                   
</script>

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>
