{% extends 'base.html.twig' %}

{% block title %}All Tasks{% endblock %}

{% block body %}
    <br>
    <hr>
    <hr>
   
    <h1>Tasks today</h1>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>DueDate</th>
                <th>Completed</th>
                <th>actions</th>
            </tr>
        </thead>
        {# <tbody>
        {% for task in tasks %}
            {% if task.dueDate | date() == today | date() %}
            <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.dueDate |date() }}</td>
                    <td>{{ task.completed ? '&#9989;' : 'No'}}</td>
                    <td>
                        
                        
                        <a class="btn btn-warning" href="{{ path('task_edit', {'id': task.id}) }}">edit &#9997;</a>
                        
                       
                    </td>
                </tr>
             {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary btn-block" href="{{ path('task_new') }}">Create new</a>
    
{% endblock %} #}

{% block panel %}

    <div class="panel panel-info hidden-xs">
                            <div class="panel-heading"><div class="sidebar-header"><h3>Search</h3></div></div>
                            <div class="panel-body">
                                <form>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input id="datepicker" name="date" type="text" class="form-control input-lg" placeholder="">
                                            {# <div class="input-group-btn">
                                                <button id="send" onclick="ajax"  class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                            </div> #}
                                        </div>
                                    </div>
                                </form>
                                 <br><div id="successForm">
                                    {# {% for req in request %} #}
                                 {# {{req}} #}
                                 {# {% endfor %} #}
                                 </div>
                            </div>
                        </div>

    <div class="panel panel-info">
                            <div class="panel-heading"><div class="sidebar-header"><h3>Expired</h3></div></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-warning">
                                    {% for task in tasks %}
                                        {% if task.dueDate | date() < today | date() %}
                                        <p><b><a href="#">{{task.task}}</a></b></p>
                                        <p>
                                            <a href="#">{{task.dueDate | date()}}</a>
                                        </p>                                       
                                                <a class="btn btn-warning btn-block" href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                                                {# <a class="btn btn-danger" href="{{ path('task_delete', {'id': task.id}) }}">delete &#10060;</a> #}
                                        </p> 
                                        {% endif %}
                                    {% else %}
                                       <p><b colspan="6">no records found></b></p>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
{% endblock %}
